<div class="container">
  <div class="row">
    <div class="col-3">
      <!--Card-->
  <div class="card">
  
    <!--Card image-->
    <div class="view hm-white-slight waves-light" mdbRippleRadius>
        <img src="../assets/card1.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
        <a>
            <div class="mask"></div>
        </a>
    </div>
  
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Paracaidas</h4>
        <!--Text-->
        <p class="card-text">Simulacion de un salto en paracaidas.</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ir</a>
    </div>
  
  </div>
  <!--/.Card-->
    </div>
    <div class="col-3">
      <!--Card-->
  <div class="card">
  
    <!--Card image-->
    <div class="view hm-white-slight waves-light" mdbRippleRadius>
        <img src="../assets/card2.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
        <a>
            <div class="mask"></div>
        </a>
    </div>
  
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Numeros aleatorios</h4>
        <!--Text-->
        <p class="card-text">Simulacion de la generacion de numeros aleatorios.</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ir</a>
    </div>
  
  </div>
  <!--/.Card-->
    </div>
    <div class="col-3">
      <!--Card-->
  <div class="card">
  
    <!--Card image-->
    <div class="view hm-white-slight waves-light" mdbRippleRadius>
        <img src="../assets/square.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
        <a>
            <div class="mask"></div>
        </a>
    </div>
  
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Medios cuadrados</h4>
        <!--Text-->
        <p class="card-text">Apliacion de metodo para la generacion de numeros pseudo-aleatorios.</p>
        <a class="btn btn-primary waves-light" [routerLink]="['/cuadrados']" mdbRippleRadius>Ir</a>
    </div>
  
  </div>
  <!--/.Card-->
    </div>
    <div class="col-3">
      <!--Card-->
  <div class="card">
  
    <!--Card image-->
    <div class="view hm-white-slight waves-light" mdbRippleRadius>
        <img src="../assets/neumann.gif" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
        <a>
            <div class="mask"></div>
        </a>
    </div>
  
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Metodo newman</h4>
        <!--Text-->
        <p class="card-text">Aplicacion del metodo para la generacion de numeros pseudo-aleatorios.</p>
        <a class="btn btn-primary waves-light" [routerLink]="['/newman']" mdbRippleRadius>Ir</a>
    </div>
  
  </div>
  <!--/.Card-->
    </div>
  </div>
</div>